<h1>Welcome to Stalk Your Text, A place to Find out More.</h1>
<br>
<%= link_to(image_tag('sign-in-with-twitter-gray.png'), login_path(:twitter)) %>
<%= link_to(image_tag('Instagram_signin.png'), login_path(:instagram))%>
<%= link_to(image_tag('vimeo.png'), login_path(:vimeo)) %>
