<div class="login-wrapper col-sm-6 center-block no-float">
  <div class="login-card col-sm-12">
    <!-- <div class="login-content"> -->
      <h1 class="text-center"><span class="glyphicon glyphicon-sunglasses"></span> Creep Peep</h1>
      <h4 class="text-center"> Follow Folks on the Down-Low</h4>

      <br>

      <div class="center-block col-sm-8 no-float">
        <h4>Are ya into...</h4>
          <ul>
            <li>trashy TV celebrity accounts?</li>
            <li>"interesting" artwork?</li>
            <li>or some ...other accounts you wanna keep private?</li>
          </ul>
      </div>


      <br><br>
      <div class="center-block no-float col-sm-6">
        <!-- instagram -->
        <div class="btn-group col-sm-12" role="group">
          <%= link_to "Sign In with Instagram", auth_path('instagram'), class: 'btn btn-primary btn-instagram' %>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
