<div class="login-wrapper col-sm-6 center-block no-float">
  <div class="login-card col-sm-12">
    <div class="login-content">
      <h1 class="text-center">Hey, Creeper.</h1>

      <br>

      <div class="center-block no-float col-sm-6">
        <!-- instagram -->
        <div class="btn-group col-sm-12" role="group">
          <%= link_to image_tag('IG_logo', class: 'logo-instagram'), auth_path('instagram'), class: 'btn btn-primary btn-instagram' %>
          <%= link_to "Sign In with Instagram", auth_path('instagram'),class: 'btn btn-primary btn-instagram' %>
        </div>
      </div>
    </div>
  </div>
</div>
