<div class="page-header"><center><h1>Welcome to Stalk Your Text, <small>A Place to Find Out More.</small></h1>
</div>
</center>

<br>
<center>
  <% if Rails.env.development? %>
    <%= link_to "Sign in with OmniAuth Developer Strategy", login_path(:developer) %>
  <% end %>
  <%= link_to(image_tag('sign-in-with-twitter-gray.png'), login_path(:twitter)) %>
  <%= link_to(image_tag('Instagram_signin.png'), login_path(:instagram))%>
  <%= link_to(image_tag('vimeo.png'), login_path(:vimeo)) %>
</center>
