<h1>Creep Peep<small> Follow folks on the down-low</small></h1>

<h3>Are ya into...</h3>
  <ul>
    <li>trashy TV celebrity accounts?</li>
    <li>"interesting" artwork?</li>
    <li>or some ...other accounts you wanna keep private?</li>
  </ul>

<%= link_to "Get weird and follow your favs", feeds_path %>
