<h1>Creep Peep<small> Follow Users on the DL</small></h1>

<h3>Are you into...</h3>
  <ul>
    <li>trashy TV celebrity accounts?</li>
    <li>obscure fandoms?</li>
    <li>or some ...other accounts you wanna keep private?</li>
  </ul>

<%= link_to "Start Creep Peeping", "/" %>
