<h1>I can haz feedz?</h1>

<%= link_to "Dev Login", login_path(provider: :developer), class: "btn btn-primary" %>
<%= link_to "Login with Instagram", login_path(provider: :instagram), class: "btn btn-primary" %>
<%= link_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
<% unless @user.nil?  %>
  <%= @user.username %>
<% end %>
