<%= link_to "Search Twitter Users", search_path('twitter'), class: 'btn btn-default'  %>
<%= link_to "Search Instagram Users", search_path('instagram'), class: 'btn btn-default' %>
<% @tweets.each do |tweet| %>
  <p><%= tweet.tw_text %></p>
<% end %>
