<!-- Make this a form_for. WTF form_tag? -->
<div class="col-xs-4 col-xs-offset-4">
  <%= render partial: "shared/search_form", locals: { provider: :instagram } %>
</div>

<!-- Instagram Search Results -->
<% if params[:instagram] %>
  <%= render partial: "instagrams/search" %>
<% end %>

<!-- same for Twitter; make it a partial. -->

<!-- Results below. Define @response in feeds controller -->

