---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?since_id=630946246803361792&user_id=11583102
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5krmFXXwWef6Gq3z6nPUtD4e5", oauth_nonce="433b5e333e58985f0a1b9c675f0c17fc",
        oauth_signature="iPwCZYCbRU06w7gQSUJZAi6xZBI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439329487", oauth_token="3307358647-bm3xTIpLExcIMMrIDpvdxcntTuyTsuV6hysXg3J",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 21:44:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3f62d5dcfd160990ee184deab27ae7c2
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439330387'
      X-Response-Time:
      - '29'
      X-Transaction:
      - d93d8807c780e5ed
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Aug 11 04:56:09 +0000 2015","id":630965907641102336,"id_str":"630965907641102336","text":"@carjug
        Done, and DONE.","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":630947994158788613,"in_reply_to_status_id_str":"630947994158788613","in_reply_to_user_id":21163999,"in_reply_to_user_id_str":"21163999","in_reply_to_screen_name":"carjug","user":{"id":11583102,"id_str":"11583102","name":"Alice
        Rhomieux","screen_name":"rhomieux","location":"Seattle, WA","description":"Human.
        Software development student with @adaacademy cohort[2]. Linguist. Thru-hiker.
        Ice cream enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":156,"friends_count":248,"listed_count":11,"created_at":"Thu
        Dec 27 23:06:18 +0000 2007","favourites_count":176,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":593,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C6E2EE","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1420092476\/mypictr_300x300_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1420092476\/mypictr_300x300_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/11583102\/1428423955","profile_link_color":"1F98C7","profile_sidebar_border_color":"C6E2EE","profile_sidebar_fill_color":"DAECF4","profile_text_color":"663B12","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"carjug","name":"NEW
        AGE MOM","id":21163999,"id_str":"21163999","indices":[0,7]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Tue
        Aug 11 03:38:34 +0000 2015","id":630946380945584128,"id_str":"630946380945584128","text":"Hey
        ho?","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":11583102,"id_str":"11583102","name":"Alice
        R[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=630965907641102336&omit_script=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5krmFXXwWef6Gq3z6nPUtD4e5", oauth_nonce="bca89c6fd6c19895b302fec55b4cfe8c",
        oauth_signature="LEEa2T%2BxHv6bVUA9qgFgBMAM7l4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439329487", oauth_token="3307358647-bm3xTIpLExcIMMrIDpvdxcntTuyTsuV6hysXg3J",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 21:44:47 GMT
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9c2da3a9b381b6a5790abf11ac974718
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439330387'
      X-Response-Time:
      - '20'
      X-Transaction:
      - a9c3dafba7b285e5
    body:
      encoding: ASCII-8BIT
      string: '{"cache_age":"3153600000","url":"https:\/\/twitter.com\/rhomieux\/statuses\/630965907641102336","height":null,"provider_url":"https:\/\/twitter.com","provider_name":"Twitter","author_name":"Alice
        Rhomieux","version":"1.0","author_url":"https:\/\/twitter.com\/rhomieux","type":"rich","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003E\u003Ca
        href=\"https:\/\/twitter.com\/carjug\"\u003E@carjug\u003C\/a\u003E Done, and
        DONE.\u003C\/p\u003E&mdash; Alice Rhomieux (@rhomieux) \u003Ca href=\"https:\/\/twitter.com\/rhomieux\/status\/630965907641102336\"\u003EAugust
        11, 2015\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550}'
  recorded_at: Tue, 11 Aug 2015 21:44:47 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/10206720/media/recent/?access_token=1979921355.9ba3f66.e43d8cd6d85746fa8fe7c6e5b64ea71e&min_id=914665339329635845_10206720
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4985'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":["44turns54"],"type":"image","location":{"latitude":41.88048,"longitude":-87.656045},"comments":{"count":11687,"data":[{"created_time":"1439328973","text":"@jetonihoxha
        same","from":{"username":"karina.annee","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11809530_719147884881765_250822772_a.jpg","id":"1640158657","full_name":""},"id":"1049489952776841055"},{"created_time":"1439329086","text":"@http.conscience.fr
        Aww good\ud83d\ude06 have a good time \ud83d\ude0b\ud83c\udf39 I think Obama
        ur president","from":{"username":"_naz_97","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11348133_1035958409756320_1884869638_a.jpg","id":"1974255911","full_name":"\u2764\ufe0fDAD\ud83d\udc9dMOM\ud83d\udc9f"},"id":"1049490903038355380"},{"created_time":"1439329213[...]
- request:
    method: get
    uri: http://api.instagram.com/oembed?omitscript=false&url=https://instagram.com/p/5-j3-jGuZn/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/5-j3-jGuZn/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Aug 2015 21:44:49 GMT
- request:
    method: get
    uri: http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/5-j3-jGuZn/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url":"https:\/\/instagram.com\/","media_id":"1044429941956601447_10206720","author_name":"barackobama","height":null,"provider_name":"Instagram","title":"Want
        to wish this guy a happy birthday? Sign OFA''s card \u2192 Link in profile.
        #44turns54","html":"\u003cblockquote class=\"instagram-media\" data-instgrm-captioned
        data-instgrm-version=\"4\" style=\" background:#FFF; border:0; border-radius:3px;
        box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:
        1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% -
        2px); width:calc(100% - 2px);\"\u003e\u003cdiv style=\"padding:8px;\"\u003e
        \u003cdiv style=\" background:#F8F8F8; line-height:0; margin-top:40px; padding:50%
        0; text-align:center; width:100%;\"\u003e \u003cdiv style=\" background:url(data:image\/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf\/\/42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB\/lQPb79drWOyJVa\/DAvg9B\/rLB4cC+Nqgdz\/TvBbBnr6GBReqn\/nRmDgaQEej7WhonozjF+Y2I\/fZou\/qAAAAAElFTkSuQmCC);
        display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px;
        width:44px;\"\u003e\u003c\/div\u003e\u003c\/div\u003e \u003cp style=\" margin:8px
        0 0 0; padding:0 4px;\"\u003e \u003ca href=\"https:\/\/instagram.com\/p\/5-j3-jGuZn\/\"
        style=\" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal;
        font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;\"
        target=\"_top\"\u003eWant to wish this guy a happy birthday? Sign OFA\u0026#39;s
        card \u2192 Link in profile. #44turns54\u003c\/a\u003e\u003c\/p\u003e \u003cp
        style=\" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px;
        margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center;
        text-overflow:ellipsis; white-space:nowrap;\"\u003eA photo posted by Barack
        Obama (@barackobama) on \u003ctime style=\" font-family:Arial,sans-serif;
        font-size:14px; line-height:17px;\" datetime=\"2015-08-04T22:02:53+00:00\"\u003eAug
        4, 2015 at 3:02pm PDT\u003c\/time\u003e\u003c\/p\u003e\u003c\/div\u003e\u003c\/blockquote\u003e\n\u003cscript
        async defer src=\"\/\/platform.instagram.com\/en_US\/embeds.js\"\u003e\u003c\/script\u003e","width":658,"version":"1.0","author_url":"https:\/\/instagram.com\/barackobama","author_id":10206720,"type":"rich"}'
  recorded_at: Tue, 11 Aug 2015 21:44:49 GMT
- request:
    method: get
    uri: http://api.instagram.com/oembed?omitscript=false&url=https://instagram.com/p/0ll36NGuVE/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/0ll36NGuVE/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Aug 2015 21:44:50 GMT
- request:
    method: get
    uri: http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/0ll36NGuVE/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url":"https:\/\/instagram.com\/","media_id":"947329866420380996_10206720","author_name":"barackobama","height":null,"thumbnail_url":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-15\/11055946_406244246223563_666799740_n.jpg","thumbnail_width":640,"thumbnail_height":640,"provider_name":"Instagram","title":"#Obamacare
        has helped cover more than 16 million Americans. Tell us how your life is
        #BetterWithObamacare at BarackObama.com\/Five-Years-of-Obamacare","html":"\u003cblockquote
        class=\"instagram-media\" data-instgrm-captioned data-instgrm-version=\"4\"
        style=\" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px
        0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px;
        padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100%
        - 2px);\"\u003e\u003cdiv style=\"padding:8px;\"\u003e \u003cdiv style=\" background:#F8F8F8;
        line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;\"\u003e
        \u003cdiv style=\" background:url(data:image\/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf\/\/42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB\/lQPb79[...]
