---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=5&user_id=79293791
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5krmFXXwWef6Gq3z6nPUtD4e5", oauth_nonce="81a0df67259ecc607ad18cf8ce18f47c",
        oauth_signature="eJXxz7qhrK74z59loQ%2BAJv2KgZI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439327501", oauth_token="3307358647-bm3xTIpLExcIMMrIDpvdxcntTuyTsuV6hysXg3J",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 21:11:41 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9dbe445dfb10f7a0e2677331aba9503a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439328401'
      X-Response-Time:
      - '48'
      X-Transaction:
      - efee21cae02692a5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Jul 22 00:01:44 +0000 2015","id":623644057999380480,"id_str":"623644057999380480","text":"Ladies!!!
        It''s about that time!!! Brand new fragrance coming.... \"RiRi\" #ThisisRiRi
        http:\/\/t.co\/MBDteDQSTM","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":79293791,"id_str":"79293791","name":"Rihanna","screen_name":"rihanna","location":"LA
        BABY!","description":"New song \u201cBitch Better Have My Money\u201d out
        now from #R8. Get #BBHMM at http:\/\/t.co\/K1BPXv99W7","url":"http:\/\/t.co\/v6qLcjAydl","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/v6qLcjAydl","expanded_url":"http:\/\/www.rihannanow.com","display_url":"rihannanow.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/K1BPXv99W7","expanded_url":"http:\/\/smarturl.it\/BBHMM?IQid=twb","display_url":"smarturl.it\/BBHMM?IQid=twb","indices":[70,92]}]}},"protected":false,"followers_count":49839858,"friends_count":1176,"listed_count":98408,"created_at":"Fri
        Oct 02 21:37:33 +0000 2009","favourites_count":852,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":9714,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/447423178004901888\/f8j9ZoVV.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/447423178004901888\/f8j9ZoVV.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/582747937958076418\/ZrNhtrD2_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/582747937958076418\/ZrNhtrD2_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/79293791\/1429064563","profile_link_color":"009999","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":22894,"favorite_count":42253,"entities":{"hashtags":[{"text":"ThisisRiRi","indices":[72,83]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":623644051674234880,"id_str":"623644051674234880","indices":[84,106],"media_url":"http:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","url":"http:\/\/t.co\/MBDteDQSTM","display_url":"pic.twitter.com\/MBDteDQSTM","expanded_url":"http:\/\/twitter.com\/rihanna\/status\/623644057999380480\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":800,"h":800,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":623644051674234880,"id_str":"623644051674234880","indices":[84,106],"media_url":"http:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","url":"http:\/\/t.co\/MBDteDQSTM","display_url":"pic.twitter.com\/MBDteDQSTM","expanded_url":"http:\/\/twitter.com\/rihanna\/status\/623644057999380480\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":800,"h":800,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Jul 21 23:17:42 +0000 2015","id":623632977340329984,"id_str":"623632977340329984","text":"Congrats
        to everyone who''s supported my #AMERICANOXYGEN video!!! It''s a proud moment
        to have this\u2026 https:\/\/t.co\/MGNISOtz5q","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=623644057999380480&omit_script=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5krmFXXwWef6Gq3z6nPUtD4e5", oauth_nonce="4f4cfd9cbdc39f81403a64778572c467",
        oauth_signature="dUriI13DdaG1tvGxj8xHOd0PMgA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439327501", oauth_token="3307358647-bm3xTIpLExcIMMrIDpvdxcntTuyTsuV6hysXg3J",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 21:11:41 GMT
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a143fdfdf913b6becc564dbe5c3bf539
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439328401'
      X-Response-Time:
      - '23'
      X-Transaction:
      - 5fa99f5d73386375
    body:
      encoding: ASCII-8BIT
      string: '{"cache_age":"3153600000","url":"https:\/\/twitter.com\/rihanna\/statuses\/623644057999380480","height":null,"provider_url":"https:\/\/twitter.com","provider_name":"Twitter","author_name":"Rihanna","version":"1.0","author_url":"https:\/\/twitter.com\/rihanna","type":"rich","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003ELadies!!!
        It&#39;s about that time!!! Brand new fragrance coming.... &quot;RiRi&quot;
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/ThisisRiRi?src=hash\"\u003E#ThisisRiRi\u003C\/a\u003E
        \u003Ca href=\"http:\/\/t.co\/MBDteDQSTM\"\u003Epic.twitter.com\/MBDteDQSTM\u003C\/a\u003E\u003C\/p\u003E&mdash;
        Rihanna (@rihanna) \u003Ca href=\"https:\/\/twitter.com\/rihanna\/status\/623644057999380480\"\u003EJuly
        22, 2015\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550}'
  recorded_at: Tue, 11 Aug 2015 21:11:41 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/25945306/media/recent/?access_token=1979921355.9ba3f66.e43d8cd6d85746fa8fe7c6e5b64ea71e&count=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/25945306\/media\/recent?access_token=1979921355.9ba3f66.e43d8cd6d85746fa8fe7c6e5b64ea71e\u0026count=5\u0026max_id=1044168508814183510_25945306","next_max_id":"1044168508814183510_25945306"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":11650,"data":[{"created_time":"1439327289","text":"Love
        you \u2665 xoxo Adopt me mom","from":{"username":"dianalopez1988","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11312142_123619491315785_607140956_a.jpg","id":"1299651104","full_name":"Diana"},"id":"1049475830595768227"},{"created_time":"1439327310","text":"Sigueme
        guapa","from":{"username":"carlos_gonzales_cifuentes","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/10707114_423511584517726_179516337_a.jpg","id":"1287156341","full_name":"Carlos
        Gonzalez Cifuentes"},"id":"1049476003963129777"},{"created_time":"1439327334","text":"My
        gaal","from":{"username":"juferreirax","profile_picture":"https:\/\/igc[...]
- request:
    method: get
    uri: http://api.instagram.com/oembed?omitscript=false&url=https://instagram.com/p/6LeOpGBM9y/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/6LeOpGBM9y/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Aug 2015 21:11:42 GMT
- request:
    method: get
    uri: http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/6LeOpGBM9y/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url":"https:\/\/instagram.com\/","media_id":"1048064285886173042_25945306","author_name":"badgalriri","height":null,"thumbnail_url":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-15\/11371201_1475686836081864_530174634_n.jpg","thumbnail_width":640,"thumbnail_height":640,"provider_name":"Instagram","title":"\ud83d\udc12","html":"\u003cblockquote
        class=\"instagram-media\" data-instgrm-captioned data-instgrm-version=\"4\"
        style=\" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px
        0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px;
        padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100%
        - 2px);\"\u003e\u003cdiv style=\"padding:8px;\"\u003e \u003cdiv style=\" background:#F8F8F8;
        line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;\"\u003e
        \u003cdiv style=\" background:url(data:image\/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf\/\/42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB\/lQPb79drWOyJVa\/DAvg9B\/rLB4cC+Nqgdz\/TvBbBnr6GBReqn\/nRmDgaQEej7WhonozjF+Y2I\/fZou\/qAAAAAElFTkSuQmCC);
        display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px;
        width:44px;\"\u003e\u003c\/div\u003e\u003c\/div\u003e \u003cp style=\" margin:8px
        0 0 0; padding:0 4px;\"\u003e \u003ca href=\"https:\/\/instagram.com\/p\/6LeOpGBM9y\/\"
        style=\" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal;
        font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;\"
        target=\"_top\"\u003e\ud83d\udc12\u003c\/a\u003e\u003c\/p\u003e \u003cp style=\"
        color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px;
        margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center;
        text-overflow:ellipsis; white-space:nowrap;\"\u003eA photo posted by badgalriri
        (@badgalriri) on \u003ctime style=\" font-family:Arial,sans-serif; font-size:14px;
        line-height:17px;\" datetime=\"2015-08-09T22:23:40+00:00\"\u003eAug 9, 2015
        at 3:23pm PDT\u003c\/time\u003e\u003c\/p\u003e\u003c\/div\u003e\u003c\/blockquote\u003e\n\u003cscript
        async defer src=\"\/\/platform.instagram.com\/en_US\/embeds.js\"\u003e\u003c\/script\u003e","width":658,"version":"1.0","author_url":"https:\/\/instagram.com\/badgalriri","author_id":25945306,"type":"rich"}'
  recorded_at: Tue, 11 Aug 2015 21:11:42 GMT
- request:
    method: get
    uri: http://api.instagram.com/oembed?omitscript=false&url=https://instagram.com/p/6DeVbihM5o/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/6DeVbihM5o/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Aug 2015 21:11:43 GMT
- request:
    method: get
    uri: http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/6DeVbihM5o/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url":"https:\/\/instagram.com\/","media_id":"1045812952554589800_25945306","author_na[...]
- request:
    method: get
    uri: http://api.instagram.com/oembed?omitscript=false&url=https://instagram.com/p/59-4IWhM_x/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/59-4IWhM_x/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Aug 2015 21:11:43 GMT
- request:
    method: get
    uri: http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/59-4IWhM_x/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url":"https:\/\/instagram.com\/","media_id":"1044267224761946097_25945306","author_name":"badgalriri","height":null,"thumbnail_url":"https:\/\/scontent-dfw1-1.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/11264664_1456305971361793_1123539461_n.jpg","thumbnail_width":640,"thumbnail_height":640,"provider_name":"Instagram","title":"us
        as phuck","html":"\u003cblockquote class=\"instagram-media\" data-instgrm-captioned
        data-instgrm-version=\"4\" style=\" background:#FFF; border:0; border-radius:3px;
        box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:
        1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% -
        2px); width:calc(100% - 2px);\"\u003e\u003cdiv style=\"padding:8px;\"\u003e
        \u003cdiv style=\" background:#F8F8F8; line-height:0; margin-top:40px; padding:50%
        0; text-align:center; width:100%;\"\u003e \u003cdiv style=\" background:url(data:image\/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4[...]
- request:
    method: get
    uri: http://api.instagram.com/oembed?omitscript=false&url=https://instagram.com/p/59-vYXhM_e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/59-vYXhM_e/
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Aug 2015 21:11:43 GMT
- request:
    method: get
    uri: http://api.instagram.com/publicapi/oembed/?omitscript=false&url=https://instagram.com/p/59-vYXhM_e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url":"https:\/\/instagram.com\/","media_id":"1044266623483301854_25945306","author_name":"badgalriri","height":null,"thumbnail_url":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-15\/11372052_882018545206475_615967688_n.jpg","thumbnail_width":640,"thumbnail_height":640,"provider_name":"Instagram","title":"","html":"\u003cblockquote
        class=\"instagram-media\" data-instgrm-version=\"4\" style=\" background:#FFF;
        border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px
        0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%;
        width:-webkit-calc(100% - 2px); width:calc(100% - 2px);\"\u003e\u003cdiv style=\"padding:8px;\"\u003e
        \u003cdiv style=\" background:#F8F8F8; line-height:0; margin-top:40px; padding:50%
        0; text-align:center; width:100%;\"\u003e \u003cdiv style=\" background:url(data:image\/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf\/\/42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB\/lQPb79drWOyJVa\/DAvg9B\/rLB4cC+Nqgdz\/TvBbBnr6GBReqn\/nRmDgaQEej7WhonozjF+Y2I\/fZou\/qAAAAAElFTkSuQmCC);
        display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px;
        width:44px;\"\u003e\u003c\/div\u003e\u003c\/div\u003e\u003cp style=\" color:#c9c8cd;
        font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0;
        margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis;
        white-space:nowrap;\"\u003e\u003ca href=\"https:\/\/instagram.com\/p\/59-vYXhM_e\/\"
        style=\" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal;
        font-weight:normal; line-height:17px; text-decoration:none;\" target=\"_top\"\u003eA
        photo posted by badgalriri (@badgalriri)\u003c\/a\u003e on \u003ctime style=\"
        font-family:Arial,sans-serif; font-size:14px; line-height:17px;\" datetime=\"2015-08-04T16:38:24+00:00\"\u003eAug
        4, 2015 at 9:38am PDT\u003c\/time\u003e\u003c\/p\u003e\u003c\/div\u003e\u003c\/blockquote\u003e\n\u003cscript
        async defer src=\"\/\/platform.instagram.com\/en_US\/embeds.js\"\u003e\u003c\/script\u003e","width":658,"version":"1.0","author_url":"https:\/\/instagram.com\/badgalriri","author_id":25945306,"type":"rich"}'
  recorded_at: Tue, 11 Aug 2015 21:11:43 GMT
recorded_with: VCR 2.9.3
