---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=5&user_id=79293791
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5krmFXXwWef6Gq3z6nPUtD4e5", oauth_nonce="1b949acf3bea2b7d6f131fc4fe0d8c03",
        oauth_signature="y%2Foxp%2FQ%2F1eGVszo6t4SJvO2Tis4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439326292", oauth_token="3307358647-bm3xTIpLExcIMMrIDpvdxcntTuyTsuV6hysXg3J",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 20:51:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fb841636872dc49a607a8755309709a6
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439327192'
      X-Response-Time:
      - '41'
      X-Transaction:
      - 7549a2cceb0c3864
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Jul 22 00:01:44 +0000 2015","id":623644057999380480,"id_str":"623644057999380480","text":"Ladies!!!
        It''s about that time!!! Brand new fragrance coming.... \"RiRi\" #ThisisRiRi
        http:\/\/t.co\/MBDteDQSTM","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":79293791,"id_str":"79293791","name":"Rihanna","screen_name":"rihanna","location":"LA
        BABY!","description":"New song \u201cBitch Better Have My Money\u201d out
        now from #R8. Get #BBHMM at http:\/\/t.co\/K1BPXv99W7","url":"http:\/\/t.co\/v6qLcjAydl","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/v6qLcjAydl","expanded_url":"http:\/\/www.rihannanow.com","display_url":"rihannanow.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/K1BPXv99W7","expanded_url":"http:\/\/smarturl.it\/BBHMM?IQid=twb","display_url":"smarturl.it\/BBHMM?IQid=twb","indices":[70,92]}]}},"protected":false,"followers_count":49839160,"friends_count":1177,"listed_count":98404,"created_at":"Fri
        Oct 02 21:37:33 +0000 2009","favourites_count":852,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":9714,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/447423178004901888\/f8j9ZoVV.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/447423178004901888\/f8j9ZoVV.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/582747937958076418\/ZrNhtrD2_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/582747937958076418\/ZrNhtrD2_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/79293791\/1429064563","profile_link_color":"009999","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":22891,"favorite_count":42246,"entities":{"hashtags":[{"text":"ThisisRiRi","indices":[72,83]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":623644051674234880,"id_str":"623644051674234880","indices":[84,106],"media_url":"http:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","url":"http:\/\/t.co\/MBDteDQSTM","display_url":"pic.twitter.com\/MBDteDQSTM","expanded_url":"http:\/\/twitter.com\/rihanna\/status\/623644057999380480\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":800,"h":800,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":623644051674234880,"id_str":"623644051674234880","indices":[84,106],"media_url":"http:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CKeg9fZUAAA7SAa.jpg","url":"http:\/\/t.co\/MBDteDQSTM","display_url":"pic.twitter.com\/MBDteDQSTM","expanded_url":"http:\/\/twitter.com\/rihanna\/status\/623644057999380480\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":800,"h":800,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Jul 21 23:17:42 +0000 2015","id":623632977340329984,"id_str":"623632977340329984","text":"Congrats
        to everyone who''s supported my #AMERICANOXYGEN video!!! It''s a proud moment
        to have this\u2026 https:\/\/t.co\/MGNISOtz5q","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=623644057999380480&omit_script=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5krmFXXwWef6Gq3z6nPUtD4e5", oauth_nonce="9eda43f3e82c84af5f00de5eb8e67926",
        oauth_signature="4Xdg6u4HPYEjl84vw5fcBSFCy2o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439326292", oauth_token="3307358647-bm3xTIpLExcIMMrIDpvdxcntTuyTsuV6hysXg3J",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 20:51:32 GMT
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - af8ae6cae247dc370bef014985e2397b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439327192'
      X-Response-Time:
      - '20'
      X-Transaction:
      - 4f850ff986683e4c
    body:
      encoding: ASCII-8BIT
      string: '{"cache_age":"3153600000","url":"https:\/\/twitter.com\/rihanna\/statuses\/623644057999380480","height":null,"provider_url":"https:\/\/twitter.com","provider_name":"Twitter","author_name":"Rihanna","version":"1.0","author_url":"https:\/\/twitter.com\/rihanna","type":"rich","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003ELadies!!!
        It&#39;s about that time!!! Brand new fragrance coming.... &quot;RiRi&quot;
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/ThisisRiRi?src=hash\"\u003E#ThisisRiRi\u003C\/a\u003E
        \u003Ca href=\"http:\/\/t.co\/MBDteDQSTM\"\u003Epic.twitter.com\/MBDteDQSTM\u003C\/a\u003E\u003C\/p\u003E&mdash;
        Rihanna (@rihanna) \u003Ca href=\"https:\/\/twitter.com\/rihanna\/status\/623644057999380480\"\u003EJuly
        22, 2015\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550}'
  recorded_at: Tue, 11 Aug 2015 20:51:32 GMT
[...]
