<table class="table table-hover">
  <th>Pic</th>
  <th>Username</th>
  <th>Name</th>
  <th>Subcribe</th>

<% if @results %>
  <% @results.each do |result| %>
    <tr>
      <td><%= image_tag result.profile_image_url %></td>
      <td><%= result.screen_name %></td>
      <td><%= result.name %></td>
    <% if Subscription.already_subscribed?(session[:user_id], result.id) %>
      <td><h5 class="btn btn-default">Already Fed!</h5></td>
    <% else %>
      <td><%= link_to "Feed the BEAST!", twi_subscriptions_path(
        params: {
        twitter_id: result.id,
        profile_pic: result.as_json["profile_image_url"] }),
        method: :post,
        class: "btn btn-default" %>
      </td>
    <% end %>
  <% end %>
<% else %>
  <h4>You have not asked the beast for anything. Please search for new friends!</h4>
<% end %>
    </tr>
</table>

