<div class="row">
  <%= link_to "View Feed", root_path, class: "btn btn-primary navbar-btn navbar-right" %>
</div>

<div class="row text-center">
  <h3>Subscriptions</h3>
</div>

<div class="row">
  <div class="col-md-6">
  <h4>Twitter</h4>
    <%= render 'shared/following_list', { all_prey: @twitter_prey } %>
  </div>

  <div class="col-md-6">
  <h4>Instagram</h4>
    <%= render 'shared/following_list', { all_prey: @instagram_prey } %>
  </div>
</div>
