<h1>Welcome to your dashboard, <%= @stalker.username %></h1>

<h3>Subscriptions</h3>

<h4>Twitter</h4>
<%= render 'shared/following_list', { all_prey: @twitter_prey } %>

<h4>Instagram</h4>
<%= render 'shared/following_list', { all_prey: @instagram_prey } %>
