---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer ad28e11dde644f64668aed26c69dbc8a
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
    body:
      encoding: UTF-8
      string: '{"error":"The requested user could not be found"}'
  recorded_at: Tue, 11 Aug 2015 20:53:50 GMT
- request:
    method: get
    uri: https://api.vimeo.com/users/741273
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer ad28e11dde644f64668aed26c69dbc8a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
    body:
      encoding: UTF-8
      string: '{"uri":"/users/741273","name":"Riley Blakeway","link":"https://vimeo.com/rileyblakeway","location":"LA
        ","bio":"Filmmaker / Photographer from Sydney, Australia - Based in Los Angeles\n\n@rileyblakeway","created_time":"2008-09-11T02:59:52+00:00","account":"plus","pictures":{"uri":"/users/741273/pictures/9957874","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/9957874_30x30.jpg"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/9957874_75x75.jpg"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/9957874_100x100.jpg"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/9957874_300x300.jpg"}]},"websites":[{"name":null,"link":"rileyblakeway.com","description":null},{"name":"TUMBLR","link":"http://rileyblakeway.tumblr.com/","description":null},{"name":"IG","link":"instagram.com/rileyblakeway","description":null}],"metadata":{"connections":{"activities":{"uri":"/users/741273/activities","options":["GET"]},"albums":{"uri":"/users/741273/albums","options":["GET"],"total":2},"channels":{"uri":"/users/741273/channels","options":["GET"],"total":8},"feed":{"uri":"/users/741273/feed","options":["GET"]},"followers":{"uri":"/users/741273/followers","options":["GET"],"total":4082},"following":{"uri":"/users/741273/following","options":["GET"],"total":35},"groups":{"uri":"/users/741273/groups","options":["GET"],"total":6},"likes":{"uri":"/users/741273/likes","options":["GET"],"total":232},"portfolios":{"uri":"/users/741273/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/741273/videos","options":["GET"],"total":20},"shared":{"uri":"/users/741273/shared/videos","options":["GET"],"total":579},"pictures":{"uri":"/users/741273/pictures","options":["GET","POST"],"total":1}},"interactions":{"follow":{"added":false,"added_time":null,"uri":"/users/42649622/following/741273"}}},"preferences":{"videos":{"privacy":null}}}'
  recorded_at: Tue, 11 Aug 2015 21:36:15 GMT
- request:
    method: get
    uri: https://api.vimeo.com/users/741273/videos?page=1&per_page=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer ad28e11dde644f64668aed26c69dbc8a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - Tue, 11 Aug 2015 17:34:13 -0400
    body:
      encoding: UTF-8
      string: '{"total":20,"page":1,"per_page":30,"paging":{"next":null,"previous":null,"first":"/users/741273/videos?page=1&per_page=30","last":"/users/741273/videos?page=1&per_page=30"},"data":[{"uri":"/videos/135798920","name":"Light
        Therapy","description":"''Light Therapy'' - 2015 REDirect surf film festival
        selection\n\nFilmed on location in New Zealand and Australia, ''Light Therapy''
        was carefully shot with the intention of utilising only available light within
        the hours of dawn and dusk, over a month spent with surfers Chippa Wilson,
        Dion Agius and Nate Tyler. \n\nDirector / Cinematographer / Editor: Riley
        Blakeway\nFeaturing: Chippa Wilson, Dion Agius, Nate Tyler\nOriginal Music
        by: Sasami Ashworth\nScore Produced by: Avi Zahner\nWater Cinematography:
        Talon Clemow\nSecond Camera: Aidan Stevens\nSupported by: Monster Energy /
        RED Camera\n\nColored at The Mill Los Angeles\nColorist: Nick Sanders\nExecutive
        Producer, Color: Thatcher Peterson\nColor Producer: Antonio Hardy\nProduction
        Coordinator, Color: Diane Valera\n\nWith thanks to:\nMatt Newton at Precision
        Helicopters NZ - www.precisionhelicopters.com\nSteve Wi at Uber Content\nTim
        English\nRambo Estrada \nDGZ Magazine\n\n\"REDirect\u00ae has returned for
        its second year to highlight surfing''s filmmaking community. Partnering for
        this year\u2019s competition and short film festival with Surfer Magazine\u2014REDirect
        has selected 11 individuals from across the globe to participate in not only
        a competition, but a celebration of the passion that goes in to both filmmaking
        and the sport of surfing.\"\n\nhttp://www.surfermag.com/redirect-surf/riley-blakeway/#RTOoTgZbpGUOszzE.97","link":"https://vimeo.com/135798920","duration":248,"width":1920,"language":"none","height":1080,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/135798920?badge=0&autopause=0&player_id=0\"
        width=\"1920\" height=\"1080\" frameborder=\"0\" title=\"Light Therapy\" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe>"},"created_time":"2015-08-09T15:35:37+00:00","modified_time":"2015-08-11T21:34:13+00:00","content_rating":["safe"],"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/135798920/pictures/530045498","active":true,"type":"custom","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/530045498_100x75.jpg"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/530045498_200x150.jpg"},{"width":295,"height":166,"link":"https://i.vimeocdn.com/video/530045498_295x166.jpg"},{"width":640,"height":360,"link":"https://i.vimeocdn.com/video/530045498_640x360.jpg"},{"width":960,"height":540,"link":"https://i.vimeocdn.com/video/530045498_960x540.jpg"},{"width":1920,"height":1080,"link":"https://i.vimeocdn.com/video/530045498_1920x1080.jpg"}]},"tags":[{"uri":"/tags/rileyblakeway","name":"Riley
        Blakeway","tag":"Riley Blakeway","canonical":"rileyblakeway","metadata":{"connections":{"videos":{"uri":"/tags/rileyblakeway/videos","options":["GET"],"total":111}}}},{"uri":"/tags/chippawilson","name":"Chippa
        Wilson","tag":"Chippa Wilson","canonical":"chippawilson","metadata":{"connections":{"videos":{"uri":"/tags/chippawilson/videos","options":["GET"],"total":170}}}},{"uri":"/tags/dionagius","name":"Dion
        Agius","tag":"Dion Agius","canonical":"dionagius","metadata":{"connections":{"videos":{"uri":"/tags/dionagius/videos","options":["GET"],"total":179}}}},{"uri":"/tags/natetyler","name":"Nate
        Tyler","tag":"Nate Tyler","canonical":"natetyler","metadata":{"connections":{"videos":{"uri":"/tags/natetyler/videos","options":["GET"],"total":78}}}},{"uri":"/tags/surf","name":"Surf","tag":"Surf","canonical":"surf","metadata":{"connections":{"videos":{"uri":"/tags/surf/videos","options":["GET"],"total":79354}}}},{"uri":"/tags/surfing","name":"Surfing","tag":"Surfing","canonical":"surfing","metadata":{"connections":{"videos":{"uri":"/tags/surfing/videos","options":["GET"],"total":59145}}}},{"uri":"/tags/red","name":"RED","tag":"RED","canonical":"red","metadata":{"connections":{"videos":{"uri":"/tags/red/videos","options":["GET"],"total":52806}}}},{"uri":"/tags/redirect","name":"Redirect","tag":"Redirect","canonical":"redirect","metadata":{"connections":{"videos":{"uri":"/tags/redirect/videos","options":["GET"],"total":115}}}}],"stats":{"plays":8375},"metadata":{"connections":{"comments":{"uri":"/videos/135798920/comments","options":["GET","POST"],"total":20},"credits":{"uri":"/videos/135798920/credits","options":["GET","POST"],"total":1},"likes":{"uri":"/videos/135798920/likes","options":["GET"],"total":563},"pictures":{"uri":"/videos/135798920/pictures","options":["GET","POST"],"total":1},"texttracks":{"uri":"/videos/135798920/texttracks","options":["GET","POST"],"total":0}},"interactions":{"watchlater":{"added":false,"added_time":null,"uri":"/users/42649622/watchlater/135798920"},"like":{"added":false,"added_time":null,"uri":"/users/42649622/likes/135798920"}}},"user":{"uri":"/users/741273","name":"Riley
        Blakeway","link":"https://vimeo.com/rileyblakeway","location":"LA ","bio":"Filmmaker
        / Photographer from Sydney, Australia - Based in Los Angeles\n\n@rileyblakeway","created_time":"2008-09-11T02:59:52+00:00","account":"plus","pictures":{"uri":"/users/741273/pictures/9957874","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/9957874_30x30.jpg"},{"width":75,"height":75,"link":"https://i.vimeoc[...]
