---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users?per_page=30&query=potatoes&sort=relevant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer ad28e11dde644f64668aed26c69dbc8a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
    body:
      encoding: UTF-8
      string: '{"total":471,"page":1,"per_page":30,"paging":{"next":"/users?per_page=30&query=potatoes&sort=relevant&page=2","previous":null,"first":"/users?per_page=30&query=potatoes&sort=relevant&page=1","last":"/users?per_page=30&query=potatoes&sort=relevant&page=16"},"data":[{"uri":"/users/37455793","name":"Potatoe","link":"https://vimeo.com/potatoe","location":null,"bio":null,"created_time":"2015-02-15T18:22:49+00:00","account":"basic","pictures":null,"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/37455793/activities","options":["GET"]},"albums":{"uri":"/users/37455793/albums","options":["GET"],"total":0},"channels":{"uri":"/users/37455793/channels","options":["GET"],"total":0},"feed":{"uri":"/users/37455793/feed","options":["GET"]},"followers":{"uri":"/users/37455793/followers","options":["GET"],"total":0},"following":{"uri":"/users/37455793/following","options":["GET"],"total":0},"groups":{"uri":"/users/37455793/groups","options":["GET"],"total":0},"likes":{"uri":"/users/37455793/likes","options":["GET"],"total":0},"portfolios":{"uri":"/users/37455793/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/37455793/videos","options":["GET"],"total":0},"shared":{"uri":"/users/37455793/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/37455793/pictures","options":["GET","POST"],"total":0}},"interactions":{"follow":{"added":false,"added_time":null,"uri":"/users/42649622/following/37455793"}}},"preferences":{"videos":{"privacy":null}}},{"uri":"/users/1848596","name":"POtato","link":"https://vimeo.com/user1848596","location":null,"bio":null,"created_time":"2009-06-03T15:16:24+00:00","account":"basic","pictures":null,"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/1848596/activities","options":["GET"]},"albums":{"uri":"/users/1848596/albums","options":["GET"],"total":0},"channels":{"uri":"/users/1848596/channels","options":["GET"],"total":0},"feed":{"uri":"/users/1848596/feed","options":["GET"]},"fol[...]
