<div class="col-xs-10 col-xs-offset-1">
<% @users.each do |user| %>
  <div class="col-xs-3 well">
    Name: <%= user.name %><br>
    Username: <%= user.screen_name %><br>
    <%= image_tag(user.profile_image_url(size = :bigger), class: "photo-size") %><br><br>
    <%= link_to "Follow", { controller: :tweets, action: :create, tweet: { username: user.screen_name, provider_id: user.id, image_url: user.profile_image_url(size = :bigger) } }, method: :post, class: "btn btn-primary" %>
  </div>
<% end %>
</div>
