<% @users.each do |user| %>
  <p class="">
    Name: <%= user.name %><br>
    Username: <%= user.screen_name %><br>
    <%= image_tag(user.profile_image_url(size = :bigger)) %>
    <%= link_to "+", { controller: :tweets, action: :create, tweet: { username: user.screen_name, provider_id: user.id } }, method: :post, class: "btn btn-primary" %>
  </p>
<% end %>
