---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?count=3&q=cow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="5krmFXXwWef6Gq3z6nPUtD4e5", oauth_nonce="c7afce6104dde83adb38981937ebca90",
        oauth_signature="pkqJjzBd2SsiCAPkLJSd3QpQEuU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439330641", oauth_token="3307358647-bm3xTIpLExcIMMrIDpvdxcntTuyTsuV6hysXg3J",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 22:04:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7b73dcdff3cfca83def2c06c993fc922
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1439331398'
      X-Response-Time:
      - '63'
      X-Transaction:
      - 8049cbeb5f61541e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":942831606,"id_str":"942831606","name":"The Common Cow","screen_name":"AverageFarmCow","location":"Old
        McDonald''s Farm","description":"Just your average farm cow. Be sure to also
        follow all my farm animals friends who I am following! Owner of @badadvicedog
        @girlyedits and others","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":7686,"friends_count":13,"listed_count":12,"created_at":"Mon
        Nov 12 04:49:29 +0000 2012","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":251,"lang":"en","status":{"created_at":"Tue
        Mar 17 19:53:53 +0000 2015","id":577920811174010880,"id_str":"577920811174010880","text":"Mooooooo","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":272,"favorite_count":116,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"und"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/709363819\/c308c3a4d3425a2d8ebe2ef5ed17b9ed.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/709363819\/c308c3a4d3425a2d8ebe2ef5ed17b9ed.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2839026308\/057a0be5f4278194ba1de3cfef92f67c_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2839026308\/057a0be5f4278194ba1de3cfef92f67c_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/942831606\/1352696135","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":125382460,"id_str":"125382460","name":"The
        Laughing Cow\u00ae","screen_name":"TheLaughingCow","location":"","description":"Your
        home for tasty tweets, snacking ideas, and delicious inside info on all things
        The Laughing Cow cheese!","url":"http:\/\/t.co\/5dJiSPXESY","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5dJiSPXESY","expanded_url":"http:\/\/thelaughingcow.com","display_url":"thelaughingcow.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":8326,"friends_count":1956,"listed_count":244,"created_at":"Mon
        Mar 22 16:40:45 +0000 2010","favourites_count":4123,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":9128,"lang":"en","status":{"created_at":"Tue
        Aug 11 22:00:03 +0000 2015","id":631223578269081601,"id_str":"631223578269081601","text":"It\u2019s
        like a kiwi tart, but better. Pair a buttery cracker w\/ Creamy White Cheddar
        Flavor, kiwi, &amp; coconut. http:\/\/t.co\/JWr5gVCCC7","source":"\u003ca
        href=\"https:\/\/ads.twitter.com\" rel=\"nofollow\"\u003eTwitter Ads\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":627199499195146240,"id_str":"627199499195146240","indices":[111,133],"media_url":"http:\/\/pbs.twimg.com\/media\/CLRCnxjUYAAlYct.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CLRCnxjUYAAlYct.jpg","url":"http:\/\/t.co\/JWr5gVCCC7","display_url":"pic.twitter.com\/JWr5gVCCC7","expanded_url":"http:\/\/twitter.com\/TheLaughingCow\/status\/631223578269081601\/photo\/1","type":"photo","sizes":{"large":{"w":804,"h":804,"resize":"fit"},"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"BF0101","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/753551328\/3ea5f788921ae93555e9d0e893a62a36.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/753551328\/3ea5f788921ae93555e9d0e893a62a36.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_image[...]
