---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=1979921355.9ba3f66.e43d8cd6d85746fa8fe7c6e5b64ea71e&count=3&q=pig
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4984'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"username":"thespottedpig","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/10597404_660037680758734_775002310_a.jpg","id":"234082938","full_name":"Pig"},{"username":"pigum7mh","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11330600_1635982106636659_1918096877_a.jpg","id":"1447160192","full_name":"PIGUM
        \ud83d\udc8f"},{"username":"pigmanextreme","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10890518_519398704869130_928554769_a.jpg","id":"1632986582","full_name":"Pigman"},{"username":"pigletcharada","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11313751_877200015668483_331078279_a.jpg","id":"2384388","full_name":"\u2800\u2800\u2800\u2800
        \u2800\u2800\u2800\u2800 \u2800\u2800\u2800\u2800 Piglet Chalala\u2661"}]}'
  recorded_at: Tue, 11 Aug 2015 22:04:01 GMT
recorded_with: VCR 2.9.3
