<section class="feed">

<% if logged_in? && @user.subscriptions.blank? %>
  <h4>You have not fed the beast yet. Use the search window
  to satiate the beast!</h4>

<% elsif logged_in? %>
  <%= render 'shared/postthumbnail' %>

<% else %>
  <div class="jumbotron">
    <h1>WELCOME TO <strong>BEAST MODE!</strong></h1>
    <p class="beast-mode">You must to sign in to feed the beast.</p>
  <% unless Rails.env.production? %>
    <p>
      <%= link_to "Sign In via Developer", "/auth/developer", class: "btn btn-primary" %>
    </p>
  <% end %>
    <p>
      <%= link_to "Sign In via Instagram", "/auth/instagram", class: "btn btn-primary" %>
    </p>
  </div>
<% end %>
</section>
