<h1>NewsFeed</h1>

<p>Logged in user is: <%= @current_user.name %></p>

<!-- <ul>
<%# @tweets.each do |tweet| %>
  <li><%#= tweet.text %></li>
<%# end %>
</ul> -->

<p>put posts here</p>

<%= link_to 'Search Users', search_path, class: "btn btn-default" %>
