<div class="sign-in-box">
  <h3>Sign in to FeedMe</h3>
  <br>
  <%= link_to 'Sign in (dev strategy)', '/auth/developer', class: "btn btn-default" %>
  <h5 class="sign-in"><span class="sign-line">OR</span></h5>
  <%= link_to 'Sign in w/ Instagram', '/auth/instagram', class: "btn btn-primary" %>
</div>
