<!-- about friendface section -->
<h1 class="header text-center">About Friendface</h1>
<div class="feed">
  <iframe src="http://website.com/best_video_ever" width="578"
    height="400" frameborder="0" title="Best Video Ever" class="img-center"
    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj sdflk;jasdf;lkj asd;lfkjasl;dkfj a;lskdj fa;lskdfj
</div>

<!-- about staff section -->

<h1 class="header search-header text-center">About Friendface Staff</h1>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h2 class="header text-center">
      Katie Atrops<br />
      <small>Lead VCR Engineer</small>
    </h2>

    <div class="feed">
      <%= image_tag "jerry.png", class: "img-responsive img-thumbnail img-center" %>

      <p>
        Katie is the local master of the no-longer-obsolete VCR technology. She creates
        cassettes on a whim, deletes and recreates VCR files at the speed of one hand
        clapping in a forest when no one is around to see it, and has a great sense of
        humor. Before joining the company, she was involved in several top-secret
        missions in and around the Seattle-area. She holds things from time to time and
        with expert ability. In her spare time, she can also sometimes be found holding
        or grasping things.
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <h2 class="header text-center">
      Viktoria Shabuna<br />
      <small>Lead Test Engagement Developer</small>
    </h2>
    <div class="feed">
      <%= image_tag "vika.png", class: "img-responsive img-thumbnail img-center" %>

      <p>
        Viktoria is sadjkla dsjkldafs jklfda shdf asladfs hjklds afjlfad sjkladf s
        asdfasdfsadf is someone without whom the team would be lost. Without her, Friendface
        would never have come together in its current form. An integral working part of
        the Friendface machinery! She holds a PhD in Corgi Picture Consumption. In her
        spare time, she enjoys the occasional board game with a side of puppy photos.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h2 class="header text-center">
      Brenna McNinjaFace<br />
      <small>Inspiration Systems Developer</small>
    </h2>

    <div class="feed">
      <%= image_tag "brenna.jpg", class: "img-responsive img-thumbnail img-center" %>

      <p>
        Brenna is someone without whom the team would be lost. Without her, Friendface
        would never have come together in its current form. An integral working part of
        the Friendface machinery! She holds a PhD in Corgi Picture Consumption. In her
        spare time, she enjoys the occasional board game with a side of puppy photos.
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <h2 class="header text-center">
      Dr. Vonn Jerry XLII<br />
      <small>Product Enthusiasm Engineer</small>
    </h2>

    <div class="feed">
      <%= image_tag "jerry.png", class: "img-responsive img-circle img-center" %>

      <p>
        Dr. Jerry is a key member of the Friendface software development team. Before
        joining the company, she worked on software for robot destructoloids, ravenous
        plant consumption bots, and on many side projects related to attempting to
        summon Cthulhu. She holds a BS in BS from the University of Hogwarts Education
        Reform Society. In her spare time, she enjoys trying on Friendface shirts and
        teaching robots how to hate.
      </p>
    </div>
  </div>
</div>
