<!-- about friendface section -->
<h1 class="header text-center">About Friendface</h1>
<div class="feed">
  <iframe src="https://www.youtube.com/embed/6rNgCnY1lPg" width="578"
    height="325" frameborder="0" title="Best Video Ever"
    webkitallowfullscreen mozallowfullscreen allowfullscreen>
  </iframe>

  <blockquote>
    <h3>What is Friendface?</h3>
    <p>
      Friendface is a great new site for meeting people.
    </p>

    <h3>How does it work?</h3>
    <p>
      Friendface works along the same principle as a cold or a terrible plague.
      But it's not disgusting germs that Friendface spreads.<br />
      <strong>It's friendship!</strong>
    </p>

    <p>
      Each Friendface page is like a petri dish filled with friendship germs. When you
      stick your face into the dish, you may come away with millions of other people
      attached to your face.
    </p>

    <p>
      That's right! It's basically a diseased face of friendship! Just sign up
      with Friendface by giving us all of your personal information, and we'll
      provide a webpage where you can:
    </p>

    <ul class="list-group">
      <li class="list-group-item">meet new friends</li>
      <li class="list-group-item">catch up with old ones</li>
      <li class="list-group-item">and maybe find that special someone!</li>
    </ul>

    <p>
      Don't think about germs now. That analogy's over! Now it's just love and
      companionship, and everything's fine.
    </p>

    <p>
      We own everything you put on Friendface. It says so in the Terms and
      Agreements, but don't worry about that. We won't use it to do anything
      bad. We promise!
    </p>

    <p>
      Just think about love and companionship, and everything's fine.
    </p>

    <p class="friendface"><span class="smaller">Friendface</span></p>
    <p class="friendface"><span>Friendface</span></p>
    <p class="friendface"><span class="larger">Friendface</span></p>

    <footer><cite title="Source Title">The IT Crowd</cite></footer>
  </blockquote>
</div>

<!-- about staff section -->

<h1 class="header search-header text-center">About Friendface Staff</h1>

  <div class="col-sm-3">
    <h2 class="header text-center">
      Katie Atrops<br />
      <small>Lead VCR Engineer</small>
    </h2>

    <div class="feed">
      <%= image_tag "jerry.png", class: "img-responsive img-thumbnail img-center" %>

      <p>
        Katie is the local master of the no-longer-obsolete VCR technology. She creates
        cassettes on a whim, deletes and recreates VCR files at the speed of one hand
        clapping in a forest when no one is around to see it, and has a great sense of
        humor. Before joining the company, she was involved in several top-secret
        missions in and around the Seattle-area. She holds things from time to time and
        with expert ability. In her spare time, she can also sometimes be found holding
        or grasping things.
      </p>
    </div>
  </div>

  <div class="col-sm-3">
    <h2 class="header text-center">
      Viktoria Shabuna<br />
      <small>Lead Test Engagement Developer</small>
    </h2>
    <div class="feed">
      <%= image_tag "vika.png", class: "img-responsive img-rounded" %>

      <p>
        Viktoria is sadjkla dsjkldafs jklfda shdf asladfs hjklds afjlfad sjkladf s
        asdfasdfsadf is someone without whom the team would be lost. Without her, Friendface
        would never have come together in its current form. An integral working part of
        the Friendface machinery! She holds a PhD in Corgi Picture Consumption. In her
        spare time, she enjoys the occasional board game with a side of puppy photos.
      </p>
    </div>
  </div>

  <div class="col-sm-3">
    <h2 class="header text-center">
      Brenna McNinjaFace<br />
      <small>Inspiration Systems Developer</small>
    </h2>

    <div class="feed">
      <%= image_tag "brenna.jpg", class: "img-responsive img-rounded" %>

      <p>
        Brenna is someone without whom the team would be lost. Without her, Friendface
        would never have come together in its current form. An integral working part of
        the Friendface machinery! She holds a PhD in Corgi Picture Consumption. In her
        spare time, she enjoys the occasional board game with a side of puppy photos.
        She is a surprisingly quick typist and occasionally beats out the reigning office
        typing champion, Sir Keyeboe R. d'Ninjaface III.
      </p>
    </div>
  </div>

  <div class="col-sm-3">
    <h2 class="header text-center">
      Dr. Vonn Jerry XLII<br />
      <small>Product Enthusiasm Engineer</small>
    </h2>

    <div class="feed">
      <%= image_tag "jerry.png", class: "img-responsive img-circle img-center" %>

      <p>
        Dr. Jerry is a key member of the Friendface software development team. Before
        joining the company, she worked on software for robot destructoloids, ravenous
        plant consumption bots, and on many side projects related to attempting to
        summon Cthulhu. She holds a BS in BS from the University of Hogwarts Education
        Reform Society. In her spare time, she enjoys trying on Friendface shirts and
        teaching robots how to hate.
      </p>
    </div>
  </div>
