<br>
<h2 class="text-center header"><%= current_user.name %>'s feed</h2>
<ul class="nav nav-tabs">
  <li class="active"><%= link_to "All Feeds", root_url %>
  <li><a href="#">Instagram</a></li>
  <li><a href="#">Vimeo</a></li>
</ul>
<% if @posts.nil? || @posts.empty? %>
  <p class="feed">
    You haven't subscribed to any feeds yet. Find some interesting feeds to follow by searching Instagram or Vimeo users with the above search box!
  </p>
<% else %>
  <%= render partial: "shared/internal_posts", locals: { posts: @posts } %>
<% end %>
