<div class="jumbotron">
  <div class="panel-body">
    <%= link_to "Login with Instagram", "/auth/instagram/", class:"btn btn-block btn-success" %>
    <%= link_to "Login with Vimeo", "/auth/vimeo/", class:"btn btn-block btn-danger" %>
  </div>
</div>
