<!-- This view is for de-bugging. Prob will delete this view later -->


<h1>Twitter User <%= @followee %>'s Posts:</h1>
  <% @twit_user_posts.each do |tweet| %>

    <%=  "#{tweet.user.screen_name}: #{tweet.text}" %>
<% end %>
<br>

<br>
<%= link_to "Back to Home", root_path, class: "btn-sm btn-primary" %>
