<h1>Matching Insta-Users</h1>
  <% @insta_users.each do |user| %>
  <ul>
    <li><%= link_to image_tag(user["profile_picture"], class: "img-thumbnail", size: "50x50") %>
    <%= link_to "@#{user["username"]}" %></li>
  </ul>
<% end %>
<br>

<br>
<%= link_to "Back to Home", root_path, class: "btn-sm btn-primary" %>
