<table class="table table-hover">
  <th>Pic</th>
  <th>Username</th>
  <th>Name</th>
  <th>Subscribe</th>
  <% @response.each do |person| %>
  <tr>
    <td><%= image_tag(person["profile_picture"]) %></td>
    <td><%= person["username"] %></td>
    <td><%= person["full_name"] %></td>

  <% if Subscription.already_subscribed?(session[:user_id], person["id"]) %>
    <td><h5 class="btn btn-default">Already Fed!</h5></td>
  <% else %>
    <td><%= link_to "Feed the Beast!", ig_subscriptions_path(
        params: {
        instagram_id: person["id"],
        profile_pic: person["profile_picture"] } ),
        method: :post, class: "btn btn-default"  %></td>
    </tr>
  <% end %>

  <% end %>
  <!-- Want to figure out a way to pass in the information about the person's profile picture to the params so it can be included in the create_subscription method -->
</table>
