---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?user_id=494335393
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ex3dYx79BDZeq1zwNq0NdWkUq", oauth_nonce="eb847da595fedc88b9e396062f8fe6f1",
        oauth_signature="KQc%2FR5kIhRSLXj304ZCSWaXMglg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439337515", oauth_token="494335393-BNSrhyPpbMSKM3VLS2gacIUHMg7k46q0zDpwLtjn",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 11 Aug 2015 23:58:35 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c73409e2565b3016dd15ed741deab32a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439338415'
      X-Response-Time:
      - '67'
      X-Transaction:
      - 12d86efd34b44702
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Aug 11 22:58:40 +0000 2015","id":631238332123611136,"id_str":"631238332123611136","text":"Last
        night''s sunset http:\/\/t.co\/lMguc4244I","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":494335393,"id_str":"494335393","name":"Elia","screen_name":"Elia_MG","location":"","description":"Montanan.
        Seattleite. Learner. Recovering Perfectionist. Ada Cohort[2]","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":113,"friends_count":174,"listed_count":10,"created_at":"Thu
        Feb 16 19:54:33 +0000 2012","favourites_count":136,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":124,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/583134535040143360\/cwhqVwQu_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/583134535040143360\/cwhqVwQu_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/494335393\/1427865082","profile_link_color":"4A913C","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":631238329883738112,"id_str":"631238329883738112","indices":[20,42],"media_url":"http:\/\/pbs.twimg.com\/media\/CMKb6qVUwAA9SV7.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CMKb6qVUwAA9SV7.jpg","url":"http:\/\/t.co\/lMguc4244I","display_url":"pic.twitter.com\/lMguc4244I","expanded_url":"http:\/\/twitter.com\/Elia_MG\/status\/631238332123611136\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":604,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":576,"h":1024,"resize":"fit"},"medium":{"w":576,"h":1024,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":631238329883738112,"id_str":"631238329883738112","indices":[20,42],"media_url":"http:\/\/pbs.twimg.com\/media\/CMKb6qVUwAA9SV7.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CMKb6qVUwAA9SV7.jpg","url":"http:\/\/t.co\/lMguc4244I","display_url":"pic.twitter.com\/lMguc4244I","expanded_url":"http:\/\/twitter.com\/Elia_MG\/status\/631238332123611136\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":604,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":576,"h":1024,"resize":"fit"},"medium":{"w":576,"h":1024,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Aug 11 22:28:36 +0000 2015","id":631230762625339392,"id_str":"631230762625339392","text":"Supah
        twittah","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":494335393,"id_str":"49433539[...]
