---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=lolcats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Ex3dYx79BDZeq1zwNq0NdWkUq", oauth_nonce="5746b198375489f4cb1784fcab6eed3d",
        oauth_signature="fGhZGrxkMAWshxcQ3udolh7ZLPw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439228829", oauth_token="494335393-BNSrhyPpbMSKM3VLS2gacIUHMg7k46q0zDpwLtjn",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 10 Aug 2015 17:47:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ecf7436a2ee18ea3ee17389bed0f5a26
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1439229646'
      X-Response-Time:
      - '309'
      X-Transaction:
      - 00ae321edc5d72f2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3452911,"id_str":"3452911","name":"Kevin Weil","screen_name":"kevinweil","location":"Portola
        Valley, CA","description":"SVP of Product at Twitter. Former big data engineer.
        Digital advertising, ultra-marathons, particle physics, diet mountain dew,
        hadoop, lolcats.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":54009,"friends_count":2219,"listed_count":1442,"created_at":"Wed
        Apr 04 19:29:46 +0000 2007","favourites_count":15870,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":15171,"lang":"en","status":{"created_at":"Mon
        Aug 10 16:49:53 +0000 2015","id":630783136633262080,"id_str":"630783136633262080","text":"So
        so good. \"This is the story of how I wrote a Twitter bot to automatically
        enter contests...\" http:\/\/t.co\/naIEVcs4Qt","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":4,"favorite_count":16,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/naIEVcs4Qt","expanded_url":"http:\/\/www.hscott.net\/twitter-contest-winning-as-a-service\/","display_url":"hscott.net\/twitter-contes\u2026","indices":[96,118]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"D6F4FF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/536369378632032256\/fleA5Ipm_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/536369378632032256\/fleA5Ipm_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3452911\/1347980185","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":20777944,"id_str":"20777944","name":"I
        Can","screen_name":"lolcat_daily","location":"","description":"lolcats!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":463,"friends_count":164,"listed_count":4,"created_at":"Fri
        Feb 13 15:30:22 +0000 2009","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4275,"lang":"en","status":{"created_at":"Wed
        Jan 11 13:33:18 +0000 2[...]
