<h1>Search results for <%= params[:search_term] %>  </h1>

<div class="row">
  <% @prey.each do |prey| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <%= link_to(image_tag(prey[:photo_url], alt: "Profile Picture", size: "200x200"), prey[:profile_url]) %>

        <div class="caption">
          <center>
            <h3>
              <%= link_to prey[:username], prey[:profile_url] %>
              <br>
              <%= button_to "Follow", follow_path, class: "btn btn-primary active",
                method: :post, params: {
                  uid: prey[:uid],
                  name: prey[:name],
                  username: prey[:username],
                  provider: prey[:provider],
                  photo_url: prey[:photo_url],
                  profile_url: prey[:profile_url]
                }
              %>
            </h3>
          </center>
        </div>

      </div>
    </div>
  <% end %>
</div>
