---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users?per_page=30&query=cupcakes&sort=relevant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer ad28e11dde644f64668aed26c69dbc8a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
    body:
      encoding: UTF-8
      string: '{"total":385,"page":1,"per_page":30,"paging":{"next":"/users?per_page=30&query=cupcakes&sort=relevant&page=2","previous":null,"first":"/users?per_page=30&query=cupcakes&sort=relevant&page=1","last":"/users?per_page=30&query=cupcakes&sort=relevant&page=13"},"data":[{"uri":"/users/19055757","name":"Cupcake","link":"https://vimeo.com/mediaengineering","location":null,"bio":null,"created_time":"2013-06-19T23:26:29+00:00","account":"basic","pictures":{"uri":"/users/19055757/pictures/8499558","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/8499558_30x30.jpg"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/8499558_75x75.jpg"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/8499558_100x100.jpg"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/8499558_300x300.jpg"}]},"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/19055757/activities","options":["GET"]},"albums":{"uri":"/users/19055757/albums","options":["GET"],"total":0},"channels":{"uri":"/users/19055757/channels","options":["GET"],"total":0},"feed":{"uri":"/users/19055757/feed","options":["GET"]},"followers":{"uri":"/users/19055757/followers","options":["GET"],"total":0},"following":{"uri":"/users/19055757/following","options":["GET"],"total":0},"groups":{"uri":"/users/19055757/groups","options":["GET"],"total":0},"likes":{"uri":"/users/19055757/likes","options":["GET"],"total":0},"portfolios":{"uri":"/users/19055757/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/19055757/videos","options":["GET"],"total":7},"shared":{"uri":"/users/19055757/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/19055757/pictures","options":["GET","POST"],"total":1}},"interactions":{"follow":{"added":false,"added_time":null,"uri":"/users/42649622/following/19055757"}}},"preferences":{"videos":{"privacy":null}}},{"uri":"/users/1326105","name":"Cupcake","link":"https://vimeo.com/user1326105","location":"Crooklyn,
        Maine, Colorado","bio":null,"created_time":"2009-02-19T21:45:34+00:00","account":"basic","pictures":{"uri":"/users/1326105/pictures/1124716","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/1124716_30x30.jpg"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/1124716_75x75.jpg"},{"width":100,"height":100,"link":"[...]
