/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  // Exactly 50px because first (top) navbar is exactly 50px according to Bootstrap.
  // Any more than 50px and there will be white space between the first and second navbars.
  padding-top: 50px;
  background-color: #4FD5D6;
}

.container-fluid {
  width: 70%;
  background-color:  #CDFFFF;
  margin-top: -20px;
  background-position: fixed no-repeat;
}

header {
  background-color: #FF0000;
}

.header1 {
  float: left;
  width: 20%;
  margin: 5px;
  box-sizing: border-box;
}

.header1:hover {
  content: url("tongue-out.png");
}

.jumbotron {
  text-align: center;
  background-color: #FF0000;
  color: #FFFFCC;
  margin-top: 20px;
}

.beast-mode {
  font-family: 'Rock Salt', cursive;
}

// Style of the navbar(s).
.navbar {
  padding-left: 0;
  background-color: #FF0000;
  border: none;
  // Default is rounded borders, which looks weird with two navbars.
  border-radius: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Rock Salt', cursive;
  color: #CDFFFF;
}

.navbar-default .navbar-brand:hover {
  color: #990000;
}

.navbar-default .navbar-text {
  color: #CDFFFF;
}

.navbar-brand {
  font-size: 18px;
}

// To adjust the height of the second navbar, so it's not MASSIVE.
.navbar.navbar-static-top {
  margin-top: 5px;
  min-height: 35px;
}

.navbar.navbar-static-top p {
  margin-top: 20px;
}

//Style for the webpage subtitle.
p.navbar-text {
  margin-top: 5px;
}

// Changes border of expandable menu button.
.navbar-default .navbar-toggle {
  border-color: #888888;
}

// Mostly for when shrinking window to keep search field and button on the same line.
.form-control {
  display: inline;
  width: 50%;
}

// Removes border that gets added when shrinking the window.
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.fa-refresh {
  margin-right: 5px;
}

// Stuff for the feed!!!!!!!!!!!!!

.thumbnail {
  margin-top: 3rem;
  width: 100%;
}

.user{
  // padding-left: 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px #CABCBC;
}

.prof-pic {
  width: 50px;
  margin: 5px;
}

.fix-width {
  width: 350px;
}

.caption {
  margin: 0 60px 20px 60px;
  text-align: center;
  font-weight: 500;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a{
  float: right;
}
