/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// widths
$main-column-max-width: 700px;

// colors
$friendface-green: #008800;
$light-gray-green: #4cae4c;
$light-gray: #e6f3e6;
$white-solid: rgba(255, 255, 255, 1);
$white-transparent: rgba(255,255,255,0.75);

// fonts
$brand-font-stack: "Ubuntu", sans-serif;

//--------- LOGIN PAGE -----------//
.jumbotron {
  width: 100%;
  background: url("background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.panel-body {
  margin-top: 75px;
  padding-top: 400px;
  padding-left: 200px;
  padding-right: 200px;
}

//--------- NAVBAR/SEARCH -----------//
#top.nav {
  padding-top: 5px;
  margin-bottom: 5px;
}

#top.nav h2 a, p.friendface span {
  background-color: $friendface-green;
  color: $white-solid;
  border-radius: 5px;
  font-size: 26px;
  margin: 2px;
  padding: 15px;
  text-decoration: none;
}

#top.nav h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  display: inline-block;
}

#top.nav input[type="radio"] {
  margin: 0 5px;
}

#top.nav input[type="text"] {
  font-size: 18px;
  height: 36px;
  width: 200px;
}

#top.nav p {
  margin-top: 8px;
}

#top.nav h2 {
  padding: 0;
  margin: 0;
  display: inline-block;
}

//--------- ABOUT PAGE ---------//
p.friendface {
  margin: 30px;
  text-align: center;
}

p.friendface span.smaller {
  font-size: 20px;
}

p.friendface span.larger {
  font-size: 36px;
}

.img-small {
  text-align: center;
  margin: auto;
  max-width: 400px;
}

//--------- GLOBALS -----------//
p, a {
  font-family: $brand-font-stack;
}

a {
  color: #080;
}

a:hover {
  color: #66b766;
}

h2 {
  font-size: 40px;
}

html, body {
  background: url('congruent.png');
}

.profile {
  height: 150px;
  width: 150px;
}

.brand {
  font-family: $brand-font-stack;
}

.green {
  color: $light-gray-green;
}

.header {
  color: $light-gray-green;
  font-family: $brand-font-stack;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  max-width: $main-column-max-width;
  background: rgba(255, 255, 255, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-sm {
  margin: 5px;
}

.center{
  text-align: center;
  margin: auto;
}

//--------- FEED PAGES -----------//
.feed {
  margin: auto;
  padding: 10px;
  max-width: $main-column-max-width;
  background: $white-transparent;
  border-top: 1px solid $white-solid;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  box-sizing: border-box;
}

.feed:hover {
  background: $white-solid;
  border-radius: 5px;
}

.header {
  color: $light-gray-green;
  font-family: $brand-font-stack;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  max-width: $main-column-max-width;
  background: $white-solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-tabs {
  padding: 10px;
  background-color: $white-solid;
  max-width: $main-column-max-width;
  color: $light-gray-green;
  font-family: $brand-font-stack;
  margin: auto;
}

//--------- RESULTS PAGES -----------//
.search-header {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid $light-gray;
  border-radius: 20px;
}

.search-result {
  margin: 10px;
  background: $white-transparent;
  padding: 10px;
  border-radius: 10px;
}

.search_result:nth-child(3n+1) {
  clear: left;
}

//--------- FEED DISPLAY -----------//
.badge {
  margin-left: 10px;
}

.left {
  max-width: 50%;
  width: 50%;
  float: left;
  display: inline-block;
  margin-bottom: 10px;
  border: 2px solid $light-gray;
  border-radius: 10px;
  box-sizing: border-box;
}

.left img {
  max-width: 100%;
  border-radius: 10px;
}

.right {
  max-width: 50%;
  width: 50%;
  padding: 10px;
  float: left;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}

.right h3 {
  margin: 0;
  font-family: $brand-font-stack;
}

.date {
  clear: both;
  text-align: center;
}
