/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.header {
  margin: 5px;
  background: image-url("Newspaper.jpg");
  background-size: contain;
}

.button {
  margin: 10px;
}

.center {
  text-align: center;
}

.news-text, h1 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.search-results {
  list-style-type: none;
}

.twitter-results img {
  list-style-type: none;
  border-radius: 10px;
  border: 2px solid #3366CC;
  padding: 2px;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

.bkgd {
  background: image-url("Coffee.jpg");
  background-size: 100%;
}

.search-bkgd {
  background: image-url("coffee_table.jpg");
  background-size: 100%;
}
