@import "bootstrap-sprockets";
@import "bootstrap";

// body

  // .jumbotron {
  //     background: image-url("notso-2.png") no-repeat;
  //     padding-bottom: 150px;
  //     margin-bottom: 100px;
  // }

body {
    background: image-url("bamboo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
}

.content {
  padding-top: 35px;
}

.center {
  text-align: center;
  margin: auto;
  float: none;
}

.container {
  height: 100%;
}

.feed {
  margin: 20px auto;
  background-color: rgba(0,0,0,.7);
  background-repeat: repeat;
  width: 500px;
  padding: 10px 10px;
}

.ig_image {
  width: 250px;
}

// typography

h1 {
  font-size: 6em;
}

h1, h2, h3, h4, .search-header, .search, .page-links a, .no-targets a, .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(255,255,255);
  }


.navbar {
  margin-bottom: 0;
  width: 100%;
}

.navbar-inverse {
  background-color: rgba(0,0,0,.5);
  border: none;
  font-family: 'Orbitron', sans-serif;
}

.page-links a:hover, .no-targets a:hover {
  text-decoration: none;
  color: #F00;
}

.search-header {
  margin: 10px 0;
}

.tweet-post a:hover {
  color: #F00;
  text-decoration: none;
}

.posted-at {
  font-size: 0.7em;
  font-style: italic;
}
// buttons

.ig-icon{
  margin-right: 20px;
}

.twitter-icon {
  margin-left: 10px;
}


// search results

.search-results {
  padding-top: 30px;
}

.well {
  background-color: rgba(0,0,0,.7);
  text-align: center;
  padding: 5px;
  width: 240px;
  margin: 10px;
  font-size: 14px;
  color: rgb(255,255,255);
}

.photo-size {
  width: 72px;
}

.ninja {
  position: fixed;
  left: 50px;
  bottom: 100px;
}

.avatar {
  width: 50px;
  padding-top: 0;
  float: left;
}

.shift-left {
  padding-right: 70px;
}

.twitter {
  margin-top: 10px;
}

.left {
  float: left;
}
