// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-in-box {
  padding: 0;
  padding-bottom: 20px;
  margin: 20px;
  height: 200px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  text-align: center;
}

.sign-in {
   width: 100%;
   text-align: center;
   border-bottom: 0.5px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.sign-line {
    background:#fff;
    padding:0 10px;
}
