<div class="both-search">
  <% @users.each do |user| %>
    <div class="col-xs-3 well">
      Name: <%= user["full_name"] %><br>
      Username: <%= user["username"] %><br>
      <%= image_tag(user["profile_picture"], class: "photo-size") %><br><br>
      <%= link_to "Follow", { controller: :instagrams, action: :create, instagram: { username: user["username"], provider_id: user["id"], image_url: user["profile_picture"] } }, method: :post, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
